<div class="jumbotron">
	<h1>About us</h1>
	<p> Thanks for checking out Vrzus! Please sign up for updates to launch.</p>
	<p>Sign up <%=link_to "here", "#", class: "btn btn-primary btn-lg"%></p>
</div>
